.sidebar .user-info{
    border-bottom: 1px solid #444;
    padding: 1em;
    text-align: center;
  }
  
  
  .sidebar .nav{
    margin-top: .5em;
  }
  
  .sidebar .company-logo{
    height: 40vh;
  }
  
  .sidebar .nav-item .nav-link:hover{
    background-color: #0090DB;
  }
  
  .sidebar .nav-link.active{
    background-color: #0090DB !important;
    color: white !important;
    cursor: pointer !important;
  }
  
  .sidebar .nav-item .nav-link.active:hover{
    background-color: #0090DB;
  }
  
  .sidebar .nav-link{
    /* cursor: pointer; */
    color: #FFF;
    margin: 0 .5em;
    cursor: pointer !important;
  }
  
  .sidebar .nav-link svg{
    /* cursor: pointer; */
    margin-right: .5em;
    width: 30px;
    cursor: pointer !important;
  }
  
  .figure-img{
    margin-bottom: 0px;
  }
  
  h6{
    color: #dddddd;
  }
  
  .btn-logout{
    width: 100% !important;
    text-align: center;
    font-size: 13px;
    cursor: pointer !important;
    background-color: white !important;
    color: black !important;
  }
  
  .btn-logout:hover{
    cursor: pointer !important;
  }
  
  .color-icon{
    color: #ff1065;
  }
  
  
  